$primary-color: #1a132f;
$secondary-color: #61a4bc;
$tertiary-color: #5b7db1;
$background-color: #f7e2e2;
$gradient-primary: linear-gradient(to top left, #5b7db1, #1a132f);
$text-color: rgb(59, 58, 58);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
